.right-side-signin {
  padding: 35px 200px 0px 82px;
  width: 55%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.right-side-signin .form-box {
  margin-left: 40px;
}

.right-side-signin .form-box h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  color: #000000;
    text-align: center;

}

.right-side-signin .form-box p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #8692a6;
  margin-bottom: 15px;
  text-align: center;
}

.right-side-signin .form-box ul {
  list-style: none;
  display: flex;
  gap: 16px;
  justify-content: center;
    margin-bottom: 25px;

}
.right-side-signin .form-box .or {
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #BABABA;
text-align: center;
}

.right-side-signin .form-box ul  li a {
  width: 65px;
  height: 65px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.right-side-signin .form-box .input-box {
  margin-bottom: 5px;
}

.right-side-signin .form-box form label {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #696f79;
  margin-top: 10px;
}

.right-side-signin .form-box form input {
  width: 426px;
  padding: 23px 0px 23px 30px;
  outline: none;
  border: 1px solid #8692a6;
  border-radius: 6px;
  margin-top: 10px;
}

.right-side-signin .form-box form input:focus {
  outline: none;
}

.right-side-signin .form-box form input[type="submit"] {
  background-color: #1565d8;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.right-side-signin a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #696f79;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  gap: 7px;
  text-align: center;
  display: inline-block;
}
